body {
  font: 10px sans-serif;
}

#chart{
    width: 100vw;
    height: 100vh;
    /* background: salmon; */
    margin: 0;
}

h1{
    text-align: center;
    font-size: 60px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.labels{
    margin: 0 auto;
    text-align: center;
}
