[submodule "ai_creativity_design/classwork/week_4/ml5-examples"]
	path = ai_creativity_design/classwork/week_4/ml5-examples
	url = https://github.com/esomo22e/esomo22e.github.io/tree/master/ai_creativity_design/classwork/week_4/
