body{
  margin: 0;
  font-family: "Comic Sans MS";
  /* background-color: aquamarine;  */

}

/* h1{
  color: cornflowerblue;
  text-align: center;
} */

#banner{
  color: white;
  text-shadow: 0 0 5px black;
//text-shadow: x offset, y offset, blur, color
  background-color: aquamarine;
  background-position: 50% 100%;
  background-image: url('https://cdn2.thecatapi.com/images/9pf.jpg');
 background-position: center;
 background-size: contain;
  text-align: center;
  padding: 20vh 20px;
}

.section {
  display: flex;
  padding: 50px;
}

.section p {
  flex: 1;
}

.section svg {
  border: 1px solid red;
  flex: 2;
  height: 300px;
  margin: 20px;
}

@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }
  .section svg {
    flex: none;
  }
}

#tooltip{
  border: 1px solid black;
  display: none;
  position: absolute;
}
