@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand:ital,wght@0,400;1,700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@500&display=swap');

html,body{
  margin:5px 0 00;
  overflow-x: hidden;
overflow-y: hidden;
  background: #006a8b;
    font-family: 'Kreon', serif;
  }


#hed_container{
  position: absolute;
  top: 25%;
  left: 25%;
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);

  width: 50vw

}
h1{
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 70px;
  font-family: 'Shrikhand', sans-serif;
      /* font-family: 'Roboto', sans-serif; */
  /* text-align: center; */
}
#intro-page{
  margin: -10px 0;
  padding:0;
  width:100vw;
  height:100vh;
  position:absolute;
  opacity: 0.9;
  background: black;  /* position:absolute; */
}
#total-sketches{
  /* margin: 3px 0 0 0; */
  width: 100vw;
  display:flex;
  flex-flow: wrap;
  /* margin: 0 auto; */
  height:100vh;
  /* padding: 5px; */
  justify-content: space-around;
}

canvas{
    /* padding: 10px; */
    /* margin: 10px; */
}

#center-button{
   margin: 20px;
   display: flex;
justify-content: center;
align-items: center;

/* position: absolute;
top: 50%;
left: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);  */

}

#directions{
  color: #FFFAF0;
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
  width: 50vw;


}

button#intro_button{
      font-family: 'Kreon', serif;
  margin: 0 auto;
    border-radius: 10px;
background-color: #cc99ff;
  font-weight: 600;
  font-size: 25px;

  border: none;
display: inline-block;
padding: 12px 24px;
vertical-align: middle;
overflow: hidden;
text-decoration: none;
}

#item-container{
  display: flex;
}

h4{
  color: #FFFAF0;
  font-weight:600;
  font-size: 20px;
  text-align: center;
}
