body{
  margin: 3px 0 0 0;
  overflow-x: hidden;
overflow-y: hidden;
  background: #66b2ff;
}

.sketch{
  /* width: 33.33vw ;
  height: 33.33vh;
  margin: 0 auto; */
  /* margin: 5px; */
/* margin: -5px; */
}


.total_sketches{
  /* border: 40px solid cyan; */
  width: 100vw;
  display:flex;
  flex-flow: wrap;
  /* margin: 0 auto; */
  height:100vh;
  /* padding: 5px; */
  justify-content: space-around;
}

canvas{
    /* padding: 10px; */
    /* margin: 10px; */
}
