body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: salmon;
}

.sketch{
  /* margin:0;s */
  width: 33.333vw;
  height: 33vh;
  /* box-sizing: border-box; */
  /* margin: 0 5px; */
  /* border: 15px solid red; */
  /* padding:5px; */
  /* padding:5px; */


}
.total_sketches{
  /* border: 40px solid cyan; */
  width: 100vw;
  display:flex;
  flex-flow: wrap;
  /* margin: 0 auto; */
  height:100vh;
}
