@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body{

  background: #CCFFE5;
  display: table;
}

h1{
  font-size: 60px;
  color: #66b2ff;
  text-align: center;
  /* background-color: #EBEBEB; */

}

#users{
  font-size: 30px;
  text-align:center;
  font-family: 'Bebas Neue', cursive;
  color: #C71585;
}
#graph{
  width: 100%;
}
