body{
  background: #FFE4E1;

}

h1{
  font-size: 54px;
  text-align: center;
  color: #8A2BE2;
}

#chart rect{
  stroke: purple;
  fill: lavender;
  stroke-width: 3px;
}

.y_axis{
  stroke-width: 2px;

}

tspan{
  fill: purple;
  baseline-shift: -100%;
}
/* #chart text{
  fill: white;
font: 10px sans-serif;
text-anchor: end;
} */
